.multi-container {
    font-family: 'Pretendard', sans-serif;
    background: transparent;
    color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 탭 메뉴 */
.tab-menu {
    display: inline-flex;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    background-color: #E8E8E8;
    border-radius: 15px;
    margin-bottom: 4vh;
}
.tab-button {
    background: transparent;
    border: none;
    color: #999;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Pretendard';
}
.tab-button:focus {
    outline: none;
}
.tab-button.active {
    background: #00A86C;
    border-radius: 15px;
    color: white;
}