.program-image {
  width: calc(132px + 6vw);
  height: calc(132px + 6vw);
  object-fit: cover;
  image-rendering: auto;
  border-radius: 12px;
  margin-top: 4px;
  transition: transform 0.3s ease;
}

.program-image:hover {
  transform: scale(1.1);
}
